/* variables */

:root {
    --ff-btn1: "Fraunces", serif;
    --ff-btn2: "Poppins", sans-serif;
    --ff-btn3: "Playfair Display", serif;
}



body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    display: block;
    margin: 0 auto 20px; 
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

/* btn-1 */
    .btn-1 {
        color: #FFC75F;
        background-color: #FAF9F6;
        font-family: "Fraunces", serif;
        font-weight: 900;
        border: 3px solid #FFC75F;
        border-radius: 10px;
    }

    .btn-1:hover {
        color: #FAF9F6;
        background-color: #FFC75F;
        border-color: #FAF9F6;
        transition: 0.5s;
        cursor: grab;
    }

/* btn-2 */
    .btn-2 {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        color: #FAF9F6;
        background-color: #6488EA;
        border: none;
        border-radius: 8px;
        box-shadow: inset 0 -6px 0 0 #2F406E;
        text-shadow: 0px 3px #2F406E;
        transition: 0.1s;
    }

    .btn-2:hover {
        box-shadow: inset 0 -5px 0 0 #2F406E;
        cursor: grab;
    }

    .btn-2:active {
        box-shadow: inset 0 -1px 0 0 #2F406E;
        text-shadow: 0px 1px #2F406E;
    }

/* btn-3 */
.btn-3 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    color: #FAF9F6;
    border: none;
    border-radius: 5px;
    background: rgb(180,193,255);
    background: radial-gradient(circle, rgba(180,193,255,1) 0%, rgba(252,70,107,1) 100%);
    transition: 2s;
    border: 3px solid rgba(180,193,255,1)
}

.btn-3:hover {
    animation: shake .2s ease infinite .2s;
    cursor: grab;
    box-shadow: 0px 0px 6px 3px rgba(252,70,107,0.76);
    -webkit-box-shadow: 0px 0px 6px 3px rgba(252,70,107,0.76);
    -moz-box-shadow: 0px 0px 6px 3px rgba(252,70,107,0.76);
    transition: 1s ease-in-out .5s;
}

@keyframes shake {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(1deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-1deg);}
    100% {transform: rotate(0deg);}
}