/* variables */

:root {
    --ff-btn1: "Fraunces", serif;
    --ff-btn2: "Poppins", sans-serif;
    --ff-btn3: "Playfair Display", serif;

}



body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    padding: 10px 25px;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

/* btn-1 */
    .btn-1 {
        color: #FFC75F;
        background-color: #FAF9F6;
        font-family: "Fraunces", serif;
        font-weight: 900;
        border: 3px solid #FFC75F;
        border-radius: 10px;
    }

    .btn-1:hover {
        color: #FAF9F6;
        background-color: #FFC75F;
        border-color: #FAF9F6;
        transition: 0.5s;
        cursor: grab;
    }

/* btn-2 */
    .btn-2 {
        font-family: "Poppins", sans-serif;
    }

/* btn-3 */
.btn-3 {
    font-family: "Playfair Display", serif;
}